/*-- scss:defaults --*/
/* -- define Sass vars --*/

// Colors
$blue: #19428a; 
$pink-dark: #a84a68;
$teal: #509183;
$pink-mid: #9C7C85;
$green: #8F9C7C;
$egg: #FAFAF9;
$light-blue: #3d80f5;
//font size
$my-font-size: 20px;

// Base Document Colors
$navbar-bg: $blue; // navbard background color
$footer-bg: $pink-mid; // footer background color
$body-bg: $egg; // tab background color:
$link-color: $light-blue;