/*-- scss:defaults --*/
/* -- define Sass vars --*/

// Colors
$blue: #19428a; 
$pink-dark: #a84a68;
$teal: #509183;
$pink-mid: #9C7C85;
$green: #8F9C7C;
$egg: #FAFAF9;
$light-blue: #3d80f5;
$dark-green: #193833;
$grey-blue: #2D374B;
$white: #f7f7f7;
$grey: #2B2F38;
$dark_grey: #40494f;
//font size
$my-font-size: 20px;

// Base Document Colors
$navbar-bg: $grey; // navbard background color
$footer-bg: $egg; // footer background color
$body-bg: $dark_grey; // tab background color:
$body-fg: $white; // letter colors for backgorund
$link-color: $light-blue;
$navbar-fg: $white; // Letter Color
$navbar-hl: $egg;
$footer-bg: $grey; // footer background color
$footer-fg: $white;
// Resizeing logo
.navbar-brand img { 
  max-height: 70px;
  width: auto;
}